<meta property="og:title" content="SF Election Endorsements Matrix">
<meta property="og:site_name" content="SF Election Endorsements Matrix">
<meta property="og:url" content="https://sig.gy/sfendorsements">
<meta property="og:description" content="An endorsement matrix for the November 2022 San Francisco election.">
<meta property="og:type" content="website" />
<meta property="og:image" content="https://sig.gy/sfendorsements/assets/preview_image.png">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1280">
<meta property="og:image:height" content="640">
<meta name="twitter:card" content="summary_large_image">
<meta name=”twitter:image” content="https://sig.gy/sfendorsements/assets/preview_image.png">
<meta name="twitter:image:alt" content="Screenshot of endorsement matrix">
<meta name="twitter:site" content="@siggy">
