<meta property="og:image" content="https://sig.gy/sfendorsements/assets/preview_image.png">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1280">
<meta property="og:image:height" content="640">
<meta name="twitter:title" content="SF Election Endorsements Matrix: March 2024">
<meta name="twitter:description" content="An endorsement matrix for the March 2024 San Francisco election.">
<meta name="twitter:image" content="https://sig.gy/sfendorsements/assets/preview_image.png">
<meta name="twitter:image:alt" content="Screenshot of endorsement matrix">
<meta name="twitter:site" content="@siggy">

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-27834075-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-27834075-1');
</script>
